.nav { 
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 309px;
    
    font-size: 24px;
    font-family: $font-primary;
    font-weight: 500;
    
    &--link { 
        color: $color-primary;
        margin-right: 54px;
        

        &__last {
            margin-right: 0px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}