.main--about {
    margin-top: 152px;
}

.main--about .collapse {
    width: 100%;

    @include tablet {
        width: 82.4%;
    }
}

.collapses-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}