.banner {
    height: 111px;
    position: relative;
    margin: 0px auto 2px auto;

    @include tablet {
        height: 180px;
    }

    @include desktop {
        height: 223px;
        max-width: 1240px;
    }

    &--filter-black {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 10px;
    }

    &--title {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0%, -50%);

        color: white;
        font-size: 24px;
        width: 217px;

        @include tablet {
            font-size: 36px;
            width: 100%;
            text-align: center;
            left: 0px;
        }
    }

    &--img {
        background-image: url('../../layout/landscape_mobil.png');
        border-radius: 10px;
        background-size: cover;
        height: 100%;

        @include tablet {
            background-image: url('../../layout/landscape.png');
        }
    }
}

.rentals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

    padding-bottom: 20px;

    @include tablet {
        padding: 0px 20px 20px 20px;
        margin-top: 43px;

        background-color: #F7F7F7;
        border-radius: 10px;
    }    

    @include desktop { 
        padding: 6px 0px 20px 0px;
        max-width: 1240px;
    }
}

.rental {
    position: relative;
    margin-top: 20px;
    height: 255px;
    width: 100%;
   
    border-radius: 10px;

    @include tablet {
        width: 47.5%;
    }

    @include desktop {
        width: 340px;
        height: 340px;
        margin: 50px 20px 0px 20px;
    }
    
    &--filtre {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
    }

    &--title {
        position: absolute;
        bottom: 15px;
        left: 20px;
        right: 20px;
        
        color: white;
        font-size: 18px;
        line-height: 25.67px;

    }
    
    &--img {
        height: 100%;
        width: 100%;
        
        object-fit: cover;
        border-radius: 10px;
    }
}