.banner {
    height: 111px;
    position: relative;

    &--filter-black {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 10px;
    }

    &--title {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);

        color: white;
        font-size: 24px;

    }

    &--img {
        background-image: url('../../layout/landscape_mobil.png');
        border-radius: 10px;
        background-size: cover;
        height: 100%;
    }
    
}

.rentals img {
    width: 100%;
}