@import './base/reset';
@import './base/font';

@import './utils/variable';
@import './utils/breakpoints';

@import './components/banner';
@import './components/collapse.scss';

@import './layouts/header';
@import './layouts/footer';

@import './pages/home';
@import './pages/about';

main {
    margin: 83px 20px 20px 20px;

    /* Footer dont float : 
                calc(100vh - margin-top - margin-bot - $height-footer) */
    min-height: calc(100vh - 83px - 20px - $heigth-footer);

    @include tablet {
        width: calc(100% - 80px);
        max-width: 1240px;
        margin: auto;
        margin-top: 171px;
        margin-bottom: 60px;
        

        /* Footer dont float : 
                    calc(100vh - margin-top - margin-top-footer - $height-footer) */
        min-height: calc(100vh - 152px - 20px - $heigth-footer);
    }

    @include desktop {
        /* Footer dont float : 
                    calc(100vh - margin-top - height-footer) */
        min-height: calc(100vh - 152px - 229px);
    }
}