@import './base/reset';
@import './base/font';

@import './utils/variable';
@import './utils/breakpoints';
@import './utils/mixin';

@import './components/banner';
@import './components/collapse.scss';

@import './layouts/header';
@import './layouts/footer';

@import './pages/home';
@import './pages/about';
@import './pages/error';

main {
    margin: 83px 20px 20px 20px;

    @include tablet {
        width: calc(100% - 80px);
        max-width: 1240px;
        margin: auto;
        margin-top: 171px;
        margin-bottom: 40px;
    }
}