$breakpoints-desktop: 1024px;
$breakpoints-tablet: 768px;
$breakpoints-height: 920px;


@mixin tablet {
   @media screen and (min-width: $breakpoints-tablet) {
      @content;
   }
}


@mixin desktop-small {
   @media screen and (min-width: $breakpoints-desktop) and (max-height: $breakpoints-height - 1){
      @content;
   }
}

@mixin desktop {
    @media screen and (min-width: $breakpoints-desktop) {
       @content;
    }
 }
 




