.footer {
    position: relative;

    background-color: black;
    height: $heigth-footer;

    &--logo {
        position: absolute;
        top: 62px;
        left: 50%;
        transform: translate(-50%);

        @include desktop {
            top: 69px;
        }
    }

    &--text {
        position: absolute;
        bottom: 62px;
        text-align: center;

        width: 100%;
        color: white;

        @include desktop {
            font-size: 24px;
            bottom: 30px;
        }
    }
}