.header { 
    height: 47px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;

    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 20px 0px 10px 0px;

    background-color: white;
    box-shadow: -10px 5px 5px white;

    @include desktop {
        height: 68px;
        width: 90vw;
        max-width: 1240px;  
        margin: auto;
    }
}

.logo {
    height: 47px;
    width: 145px;

    @include desktop {
        height: 68px;
        width: 210.32px;
    }
}

.nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 40px;

    @include desktop {
        width: 309px;
        font-size: 24px;
        justify-content: flex-end;
    }
    
    &--link { 
        text-transform: uppercase;
        color: $color-primary;

        @include desktop {
            text-transform: none;
            margin-right: 57px;
        }

        &:hover {
            text-decoration: underline;
        }

        &__last {
            @include desktop {
                margin-right: 0px;
            }
        }
    }
}